In [8]:
# If you are a developer, you may want to reload the packages on a fly. 
# Jupyter has a magic for this particular purpose:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [9]:
# import standard python libraries
import matplotlib as mpl
%matplotlib inline
mpl.rcParams['figure.dpi'] = 96
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [10]:
# import libraries for biological data analysis
from coolpuppy import coolpup
from plotpuppy import plotpup
import cooler
import bioframe
import cooltools
from cooltools import expected_cis, expected_trans
from cooltools.lib import plotting

In [26]:
clr = cooler.Cooler('test/CN.mm9.1000kb.mcool::/resolutions/1000000')
resolution = clr.binsize

In [45]:
view = cooltools.lib.io.read_viewframe_from_file('test/CN.mm9.toy_regions.bed')
features = bioframe.read_table('test/CN.mm9.toy_features.bed', schema='bed3')

In [46]:
expected = pd.read_table('test/CN.mm9.toy_expected.tsv')

In [47]:
expected['count.avg'] = expected['count.sum']/expected['n_valid']
expected = expected[['region1', 'region2', 'dist', 'n_valid', 'count.sum', 'count.avg', 'balanced.sum', 'balanced.avg']]
expected.to_csv('test/CN.mm9.toy_expected.tsv', sep='\t', index=False)

In [48]:
expected = cooltools.lib.io.read_expected_from_file('test/CN.mm9.toy_expected.tsv', verify_cooler=clr, verify_view=view, contact_type='cis')

In [49]:
cc = coolpup.CoordCreator(features, resolution=resolution, features_format='bed', local=True, flank=100_000)
pu = coolpup.PileUpper(clr, cc, view_df=view, ignore_diags=0)
pup = pu.pileupsWithControl()

INFO:root:('foo', 'foo'): 1
INFO:root:('bar', 'bar'): 1
INFO:root:Total number of piled up windows: 2

In [50]:
pu.view_df

     chrom      start        end
name
foo   chr1  100000000  150000000
bar   chr2  100000000  150000000

In [51]:
features

  chrom      start        end
0  chr1  110000000  115000000
1  chr2  120000000  125000000